.introduce {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #0E031E;
    z-index: 1;

    .intro_pic {
        width: 50%;
        height: 100%;

        img.nameIs {
            width: 50%;
            position: absolute;
            top: 15%;
            left: -15%;
            overflow: hidden;
            animation: wiggle 2s linear infinite;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .intro_text {
        position: absolute;
        width: 50%;
        top: 35%;
        padding-left: 10%;

        .intro_gap_line {
            position: absolute;
            top: -35%;
            left: -3%;
        }

        h1 {
            font-family: 'Fira Mono', Courier, monospace;
            font-weight: 700;
            color: #fff;

            span {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 700;
                color: #B8044B;
            }
        }

        .intro_name {
            font-family: 'Fira Mono', Courier, monospace;
            font-weight: 700;
            color: #B8044B;
            font-size: 2em; // Adjust font size as needed
        }

        .intro_position {
            font-family: 'Fira Mono', Courier, monospace;
            font-weight: 700;
            color: #808080;
            font-size: 1.5em; // Adjust font size as needed
        }

        .intro_main_text {
            font-family: 'Fira Mono', Courier, monospace;
            font-weight: 500;
            color: #fff;
            font-size: 1em; // Adjust font size as needed
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
    .introduce {
        position: relative;
        display: block;
        width: 100%;
        height: 50vh;
        background-color: #0E031E;
        z-index: 1;

        .intro_pic {
            width: 50%;
            height: 100%;

            img.nameIs {
                width: 50%;
                position: absolute;
                top: 20%;
                left: -15%;
                overflow: hidden;
                animation: wiggle 2s linear infinite;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .intro_text {
            position: absolute;
            width: 50%;
            top: 20%;
            padding-left: 10%;

            .intro_gap_line {
                position: absolute;
                height: 50%;
                top: 15%;
                left: -3%;
            }

            h1 {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 700;
                font-size: 90%;
                color: #fff;

                span {
                    font-family: 'Fira Mono', Courier, monospace;
                    font-weight: 700;
                    color: #B8044B;
                }
            }

            .intro_name {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 700;
                color: #B8044B;
                font-size: 1em; // Adjust font size as needed
            }

            .intro_position {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 700;
                color: #808080;
                font-size: 0.5em; // Adjust font size as needed
            }

            .intro_main_text {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 500;
                color: #fff;
                font-size: 0.5em; // Adjust font size as needed
            }
        }
    }
}

@media only screen and (min-width: 451px) and (max-width: 767px) {
    .introduce {
        position: relative;
        display: block;
        width: 100%;
        height: 50vh;
        background-color: #0E031E;
        z-index: 1;

        .intro_pic {
            width: 50%;
            height: 100%;

            img.nameIs {
                width: 50%;
                position: absolute;
                top: 15%;
                left: -15%;
                overflow: hidden;
                animation: wiggle 2s linear infinite;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .intro_text {
            position: absolute;
            width: 50%;
            top: 15%;
            padding-left: 3%;

            .intro_gap_line {
                position: absolute;
                height: 90%;
                top: -10%;
                left: -3%;
            }

            h1 {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 700;
                font-size: 90%;
                color: #fff;

                span {
                    font-family: 'Fira Mono', Courier, monospace;
                    font-weight: 700;
                    color: #B8044B;
                }
            }

            .intro_name {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 700;
                color: #B8044B;
                font-size: 1em; // Adjust font size as needed
            }

            .intro_position {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 700;
                color: #808080;
                font-size: 0.5em; // Adjust font size as needed
            }

            .intro_main_text {
                font-family: 'Fira Mono', Courier, monospace;
                font-weight: 500;
                color: #fff;
                font-size: 0.7em; // Adjust font size as needed
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .introduce {
            position: relative;
            display: block;
            width: 100%;
            height: 50vh;
            background-color: #0E031E;
            z-index: 1;
    
            .intro_pic {
                width: 50%;
                height: 100%;
    
                img.nameIs {
                    width: 50%;
                    position: absolute;
                    top: -5px;
                    left: -15%;
                    overflow: hidden;
                    animation: wiggle 2s linear infinite;
                    transition: transform 0.3s ease-in-out;
    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
    
            .intro_text {
                position: absolute;
                width: 50%;
                top: 15%;
                padding-left: 3%;
    
                .intro_gap_line {
                    position: absolute;
                    height: 90%;
                    top: -10%;
                    left: -3%;
                }
    
                h1 {
                    font-family: 'Fira Mono', Courier, monospace;
                    font-weight: 700;
                    font-size: 90%;
                    color: #fff;
    
                    span {
                        font-family: 'Fira Mono', Courier, monospace;
                        font-weight: 700;
                        color: #B8044B;
                    }
                }
    
                .intro_name {
                    font-family: 'Fira Mono', Courier, monospace;
                    font-weight: 700;
                    color: #B8044B;
                    font-size: 1em; // Adjust font size as needed
                }
    
                .intro_position {
                    font-family: 'Fira Mono', Courier, monospace;
                    font-weight: 700;
                    color: #808080;
                    font-size: 0.5em; // Adjust font size as needed
                }
    
                .intro_main_text {
                    font-family: 'Fira Mono', Courier, monospace;
                    font-weight: 500;
                    color: #fff;
                    font-size: 0.7em; // Adjust font size as needed
                }
            }
        }
}

// @media only screen and (min-width: 1024px){
//     .introduce {
//             position: relative;
//             display: block;
//             width: 100%;
//             height: 50vh;
//             background-color: #0E031E;
//             z-index: 1;
    
//             .intro_pic {
//                 width: 50%;
//                 height: 100%;
    
//                 img.nameIs {
//                     width: 50%;
//                     position: absolute;
//                     top: 15vh;
//                     left: -15%;
//                     overflow: hidden;
//                     animation: wiggle 2s linear infinite;
//                     transition: transform 0.3s ease-in-out;
    
//                     &:hover {
//                         transform: scale(1.1);
//                     }
//                 }
//             }
    
//             .intro_text {
//                 position: absolute;
//                 width: 50%;
//                 top: 15%;
//                 padding-left: 3%;
    
//                 .intro_gap_line {
//                     position: absolute;
//                     height: 90%;
//                     top: -10%;
//                     left: -3%;
//                 }
    
//                 h1 {
//                     font-family: 'Fira Mono', Courier, monospace;
//                     font-weight: 700;
//                     font-size: 90%;
//                     color: #fff;
    
//                     span {
//                         font-family: 'Fira Mono', Courier, monospace;
//                         font-weight: 700;
//                         color: #B8044B;
//                     }
//                 }
    
//                 .intro_name {
//                     font-family: 'Fira Mono', Courier, monospace;
//                     font-weight: 700;
//                     color: #B8044B;
//                     font-size: 1em; // Adjust font size as needed
//                 }
    
//                 .intro_position {
//                     font-family: 'Fira Mono', Courier, monospace;
//                     font-weight: 700;
//                     color: #808080;
//                     font-size: 0.5em; // Adjust font size as needed
//                 }
    
//                 .intro_main_text {
//                     font-family: 'Fira Mono', Courier, monospace;
//                     font-weight: 500;
//                     color: #fff;
//                     font-size: 0.7em; // Adjust font size as needed
//                 }
//             }
//         }
// }

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}